/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Container da introdução */
#introSection {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da viewport */
    background: #000; /* Fundo preto para a introdução */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ainda pode ser usado aqui para o vídeo */
}

/* Vídeo em tela cheia */
.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo preencher todo o contêiner sem distorção */
}

/* Transição */
.hidden {
    animation: fadeOut 1s forwards;
    opacity: 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Estilo para dispositivos móveis */
#intro-screen-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Fundo preto */
    z-index: 9999;
    overflow: hidden; /* Evita rolagem */
    display: none; /* Inicialmente oculto */
}

/* Imagem central com efeito de abertura */
#intro-screen-mobile img {
    width: 100%;
    height: auto;
    animation: openEffect 3s ease-in-out forwards;
    transform-origin: center;
}

/* Animação de abertura */
@keyframes openEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* Fade-out da tela móvel */
@keyframes fadeOutMobile {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Media Queries para Ajustes Específicos */
@media (max-width: 768px) {
    #introSection {
        height: 50vh; /* Ajuste a altura conforme necessário para dispositivos menores */
    }

    #intro-screen-mobile {
        display: flex; /* Ativa a introdução para dispositivos móveis */
    }
}

@media (max-width: 480px) {
    #introSection {
        height: 30vh; /* Ajuste ainda mais a altura para telas muito pequenas */
    }
}
